<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <meta name="theme-color" content="#1e1e1e">
    <link rel="apple-touch-icon" href="./home192.png">
    <link rel="manifest" href="./manifest.json" />
    <link rel="stylesheet" href="./app.css" />
    <title>纯净乐园</title>
</head>

<body onload="openLogo()">
    <div class="view">
        <header>
            <span onclick="showBody()">房间:</span>
            <select id="site" @change="changeSite" title="点选视频来源">
                <option v-for="(site,index) in sites" :value="index">{{site.name}}</option>
            </select>
            <span onclick="installapp()">类别:</span>
            <select id="tag" @change="changeTag" title="点选视频类别">
                <option v-for="(tag,index) in tags" :value="index">{{tag.name}}</option>
            </select>
        </header>

        <main id="main">
            <div class="card" v-for="(video,index) in videos">
                <img :src="video.imgs[video.imgnum]" :data-video="video.video" @click="play">
                <span :data-video="video.video" @click="newPlay">{{video.time}}</span>
                <p @click="changeImg" :data-index="index" title="点击轮播图片">{{video.text}}</p>
                <div style="display: none;">
                    <img v-for="img in video.imgs" :src="img">
                </div>
            </div>
            <div style="height: 0.1px;"></div>
            <div style="height: 0.1px;"></div>
        </main>

        <footer>
            <div @click="openGotopage" style="font-weight: bold;" title="点击打开页码跳转页面">
                <span style="margin-right: 4px;">{{page}}</span>
                <span style="margin-right: 4px;">～</span>
                <span style="margin-right: 4px;">{{pages}}</span>
                <span>页</span>
            </div>
            <button @click="prePage">上 一 页</button>
            <button @click="nextPage">下 一 页</button>
        </footer>

        <div id="gotopage" class="pop">
            <main class="gotopage">
                <div style="color: black;border-bottom: solid 1px black; background-color: coral;">
                    <span>设 置 跳 转 页 码</span>
                </div>
                <div><span>请输入要跳转的页码 ( 1 - {{pages}} ):</span></div>
                <div><input id="inputPage" type="number"></div>
                <div style="display: grid;grid-template-columns: 1fr 1fr;gap: 10px;">
                    <button @click="closeGotopage">取 消</button>
                    <button @click="setupPage">确 定</button>
                </div>
            </main>
        </div>

        <div id="play" class="pop">
            <div>
                <p></p>
                <div id="videoc"></div>
                <button @click="closePlay">关 闭 播 放 窗 口</button>
            </div>
        </div>

        <div id="error" class="pop">
            <main class="error">
                <div
                    style="color:black;border-bottom: solid 1px var(--border-color); background-color: coral;display: flex;align-items: center;justify-content: center;">
                    <span id="err_title"></span>
                </div>
                <p id="err_txt"></p>
                <div style="padding: 5px; display: flex;align-items: center;justify-content: center;">
                    <button style="width: 100%;height: 75%;" @click="closeError">关 闭 窗 口</button>
                </div>
            </main>
        </div>

        <div id="working" class="pop">
            <main class="working">
                <div>
                    <span style="animation: redo 1.5s linear infinite;font-size: 1.5rem;">☯</span>
                </div>
                <div style="justify-content: left;">
                    <span id="message"> </span>
                </div>
            </main>
        </div>

        <div id="iframe" class="pop"></div>
    </div>
    <div id="logo" class="logo">
        <main>
            <div style="align-items: flex-end;">
                <p style="font-size: 3.5rem;">纯 净 乐 园 </p>
            </div>
            <div style="align-items: flex-start;">
                <p style="font-size: 1.5rem;">纯 粹 极 致 观 影 体 验</p>
            </div>
        </main>
    </div>
</body>

<script src="./vue.global.prod.3.1.2.js"></script>
<script src="./pwa.js"></script>
<script src="./sites.js"></script>
<script src="./tools.js"></script>
<script src="./page.js"></script>
<script src="./app.js"></script>

</html>
